<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>com.simplilearn.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>abc</servlet-name>
   <url-pattern>/add</url-pattern>
  
  </servlet-mapping>
  
   <servlet>
  <servlet-name>acb</servlet-name>
  <servlet-class>com.simplilearn.NewServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>acb</servlet-name>
   <url-pattern>/demo</url-pattern>
  
  </servlet-mapping>
  

</web-app>
